html{
    font-size: 62,5%;
    scroll-behavior: smooth;
       /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
       para probar la diferencia con y sin scroll suavizado*/
    
}
body {
    background-color: black;
}


/*  PRESENTACION  */


.presentacion {
    height: 100vh;
    position: relative;
}
.presentacion .row {
    height: 100%;
}
.text-presentacion {
    
    width: max-content;
    height: 50%;
}
.presentacion .row .d-flex div h1 {
    font-size: 3.5rem;
    color: #1CA800;
    margin-bottom: 35px;
    position: relative;
}
.presentacion .row .d-flex div h4{
    padding-left: 10px;
    color: #1CA800;
}
.photo-section img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
}


.presentacion a{
    opacity: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: calc(50% - 15px);
    top: 90%;
    background-image: url(./assets/boton\ presentacion.svg);
    animation: movimiento 10s;
    animation-iteration-count: 1;
}

#presentacion-title {
    padding-right: 30px;
}
.text-presentacion div{
    position: relative;
}
.text-presentacion div div{
    opacity: 1;
    width: 15px;
    height: 2.5rem;
    animation: parpadeo 1.3s infinite;
    background-color: #1CA800;
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
}

/*TECNOLOGIAS Y LENGUAJES */

.tech-and-lang {
    background-color: #1E1E1E;
    text-align: center;
    padding: 60px 0px;
}
.tech-and-lang h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.tech-and-lang-content {
    padding: 80px 0px;
}
.tech-and-lang-content img {
    width: 110px;
    height: 110px;
    transition: all ease 200ms;
}
.tech-and-lang-content img:hover {
    transform: scale(1.2);
    transition: all cubic-bezier(0, 0, 0, 1.76) 400ms;
}

/*ABOUT ME */

.about-me {
    background-color: white;
    padding: 60px 0px;
    text-align: center;
}

.about-me h2 {
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
}
.about-me-content {
    padding: 80px 0px;
}
.about-me-content .row{
    margin: 0;
}

.me-card , .studyes-card {
    background-color: #1E1E1E;
    border-radius: 7px;
    padding: 20px 20px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
.me-card {
    padding: 20px 80px;
    margin: auto;
}
.me-card p {
    margin: 0;
    padding-bottom: 30px;
}
.studyes-card {
    padding: 20px 60px 30px 60px;
}
.me-card h3 , .studyes-card h3{
    font-weight: 400;
    padding: 20px;
    margin: 0;
}
.bar-yoprogramo {
    background-color: #9747FF;
}
.bar-tecnicatura {
    background-color: #0d99ff;
}
.progress {
    margin-bottom: 35px;
}
/* MY WORK */

.my-work {
    background-color: #9747FF;
    padding: 60px 0px;
    text-align: center;
}
.my-work h2{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.my-work-content {
    padding: 80px 10px;
}

.card-work {
    width: 350px;
    height:215px;
}
.card-work .card-content {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.card-content p {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
    transition: all 400ms ease;
    align-self: center;
    cursor: default;
}
.card-content a {
    align-self: flex-start;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 7px 10px 15px;
    border: solid #9747FF 3px;
    color: white;
    border-radius: 25px;
    opacity: 0;
    transition: all 400ms ease;
}
.card-content a:hover {
    background-color: #9747FF;
    transition: all 100ms cubic-bezier(0, 0, 0, 1.76);
}

.card-work #javascript {
    background-image: url(./assets/js\ proyect\ scren.jpg);
}
.card-work #milhouse {
    background-image: url(./assets/milhouse.jpg);
}
.card-work #batatabit {
    background-image: url(./assets/batatabit.jpg);
}
.card-work #blog-index {
    background-image: url(./assets/blog\ index.jpg);
}
.card-work #bankarg {
    background-image: url(./assets/Screenshot\ 2025-02-12\ 190028.png);
}



.card-work .card-content:hover{
    box-shadow: -2px 0px 70px 200px rgba(30,30,30,0.95) inset;
-webkit-box-shadow: -2px 0px 70px 200px rgba(30,30,30,0.95) inset;
-moz-box-shadow: -2px 0px 70px 200px rgba(30,30,30,0.95) inset;
    transition: all 400ms ease;
}
.card-work .card-content:hover p{
    opacity: 1;
    transition: all 500ms ease;
}
.card-work .card-content:hover a{
    opacity: 1;
    transition: all 500ms ease;
}

.span-img-work {
    display: inline-block;
    background-image: url(./assets/keyboard_arrow_right.svg);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-bottom:2px;
}


/*  CONTACT  */

.contact {
    padding: 60px 0px;
    background-color: #0071bb;
    text-align: center;
}
.contact h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.contact-content {
    padding: 80px 0px;
}
.contact-content h3 {
    color: #757575;
    padding-left: 10px;
    padding-top: 10px;
}
.contact-content div{
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 7px;
}
.contact-content div label{
    font-weight: 500;
    color: #b3b3b3;
}
.contact-content div form .col-md-12 {
    height: auto;
} 
#button-form {
    background-color: #0071bb;
    color: white;
    font-weight: 600;
    width: 93%;
}
#button-form:hover{
    background-color: #0164a5;
}
/*  FOOTER  */

footer {
    background-color: #1E1E1E;
    padding: 10px;
}

.footer-redes ul{
    padding: 0;
    margin: 0;
}

.footer-redes ul li{
    list-style: none;
    margin: 15px;
}

.footer-redes ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.facebook-icon {
    background-image: url(./assets/facebook.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
.twitter-icon {
    background-image: url(./assets/gorjeo.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
.linkedin-icon {
    background-image: url(./assets/icons8-linkedin-rodeado-de-círculo-34.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}

/*  ANIMACIONES  */

@keyframes movimiento {
    0% {
        top: 91%;
        opacity: 0;
    }
    10%{top: 90%;
        opacity: 1;

    }
    20% {
        top: 91%;
    }
    30%{top: 90%;

    }
    40% {
        top: 91%;
    }
    50%{top: 90%;

    }
    60% {
        top: 91%;
    }
    70%{top: 90%;

    }
    80% {
        top: 91%;
    }
    90%{top: 90%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@keyframes parpadeo{
    0% {
        opacity: 1;
        
    }
    50% {
        opacity: 0;
        
    }
}

/*  MEDIA QUERYS  */

@media (min-width:1025px){
    .my-work-content .card-work{
        width: 350px;
        height:240px;
    }
    .photo-section img {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        
    }
}
@media (max-width:990px){
    .presentacion .row .d-flex div h1 {
        font-size: 2.5rem;
        margin-bottom: 35px;
    }
    .presentacion .text-presentacion h4{
        font-size: 1.5rem;
    }
    #photo-section div {
        width: 275px;
        height: 275px;
        margin-right: 0;
    }
    .me-card {
        padding: 20px;
    }
    .studyes-card{
        padding: 20px 25px 30px 25px
    }
    .text-presentacion div div{
    opacity: 1;
    width: 13px;
    height: 2.3rem;
    top: calc(50% - 17px);
}
}
@media (max-width:770px){
    #photo-section {
        justify-content: center!important;
        padding: 0;
    }
    #photo-section div {
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    div .text-presentacion {
        padding: 0;
        height: 20vh;
        text-align: center;
    }
    .presentacion .row .d-flex div h4 {
        padding-left: 0px;
    }
    .text-presentacion-container {
        justify-content: center;
    }
    .me-card {
        margin-bottom: 80px;
    }
    .about-me-content .col-sm-7 {
        width: 90%;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
    .my-work-content .card-work{
        width: 340px;
        height:240px;
    }
}
@media (min-width: 768px){
    .my-work-content {
        padding: 80px 20px;
    }
    #button-form {
        width: 96%;
    }
}
@media(max-width:575px){
    .contact-content {
        padding: 0;
    }
    #container-form{
        border-radius: 0;
        padding: 80px 20px;
    }
}
@media (max-width:380px){
    .presentacion .row .d-flex div h1 {
        font-size: 2rem;
        margin-bottom: 35px;
    }
    .presentacion .text-presentacion h4{
        font-size: 1.5rem;
        padding: 0;
    }
    .card-work {
        width: 290px;
    }
}
@media (min-width:1200px){
    .photo-section div{
        width: 350px;
        height: 350px;
    }
    
}
@media (max-width:1200px){
    .photo-section img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        
    }
}
@media (min-width:1800px){
    .photo-section div{
        width: 370px;
        height: 370px;
    }
}

